@font-face {
  font-family: 'iconfont';  /* project id 1230007 */
  src: url('//at.alicdn.com/t/font_1230007_7ryqxjd19xj.eot');
  src: url('//at.alicdn.com/t/font_1230007_7ryqxjd19xj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1230007_7ryqxjd19xj.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1230007_7ryqxjd19xj.woff') format('woff'),
  url('//at.alicdn.com/t/font_1230007_7ryqxjd19xj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1230007_7ryqxjd19xj.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484);
    src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484#iefix) format('embedded-opentype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.woff?t=1503027869484) format('woff'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.ttf?t=1503027869484) format('truetype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format('svg')
}

.layout-blank{
  background-color: #fff;
  color: #666;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
body *{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #999;
}

li {
  list-style: none;
}

.page-enter-active, .page-leave-active{
  transition: opacity .5s
}
.page-enter, .page-leave-active{
  opacity: 0
}
